extends ../../components/project

block title
  title schteinmiller - ghostwave

block nav
  - var active = ""

block images
  img(src=require("~images/projects/ghostwave/majonggif.gif").default)

block name
  | ghostwave

block content
  p it's a special project for online shop "ghostwave79".
  p print and logo where created.

block append more
  .row
    .col
      img(src=require("~images/projects/ghostwave/majongsketch.jpg").default)
    .col
      img(src=require("~images/projects/ghostwave/majongimg.png").default)
    .col
      img(src=require("~images/projects/ghostwave/majongwireframe.png").default)
  .row
    .col
      img(src=require("~images/projects/ghostwave/ghostsketch.jpg").default)
    .col
      img(src=require("~images/projects/ghostwave/ghostwireframe.png").default)
    .col
      img(src=require("~images/projects/ghostwave/ghostsgif.gif").default)
